<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.healthy.mapper.userMapper">
	<insert id="userJoin">
		insert into fooddb.user values (#{userId}, #{userPW}, #{userName}, #{userEmail}, now())
	</insert>
	
	<select id="userCheck" resultType="com.healthy.user.UserDAO">
		select * from fooddb.user where userid = #{userId} and userpw = #{userPW}
	</select>

</mapper>